@import "tailwindcss";
@keyframes slide-in {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slide {
  animation: slide-in 0.4s ease-out;
}
